#root{
    color:cornflowerblue;
    font-family: cursive;
}
.head{
    color:forestgreen;
    font-family: monospace;
}
.text{
    color:blue;
    font-family: monospace;
}
.picture{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: float 2.5s ease-in-out infinite;
  }
  @keyframes float{
    0%{
transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
    transform:translateY(0)
    }
    
}